/* Set background color for the entire app */
body {
  background-color: #fff5f5;
}

/* Style the container div */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 50px;
  background-color: white; /* Set background color for the container */
  border-radius: 15px; /* Add border radius to the container */
  box-shadow: 0px 0px 10px 0px gray; 
}

/* Style the chart container */
.chart-container {
  width: 90%;
}

/* Style the table container */
.table-container {
  margin-left: 50px;
  width: 35%;
  height: 600px;
  overflow-y: auto;
  margin-left: 20px;
  background-color: white; /* Set background color for the table container */
  border-radius: 15px; /* Add border radius to the table container */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Add shadow effect */
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #ed3bd8; /* Add border with pink color */
  border-radius: 10px;
}

/* Style table header and cells */
th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ed3bd8; /* Add border bottom with pink color */
}

/* Style table header */
th {
  background-color: #ed3bd8;
  color: white;
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for table rows */
tr:hover {
  background-color: #ddd;
}

/* Hide scrollbar for webkit browsers */
.table-container::-webkit-scrollbar {
  display: none;
}
